USE [master]
GO
/****** Object:  Database [myDatabase]    Script Date: 27-01-2026 21:52:43 ******/
CREATE DATABASE [myDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\myDatabase.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\myDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myDatabase]
GO
/****** Object:  Schema [production]    Script Date: 27-01-2026 21:52:44 ******/
CREATE SCHEMA [production]
GO
/****** Object:  Schema [sales]    Script Date: 27-01-2026 21:52:44 ******/
CREATE SCHEMA [sales]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 27-01-2026 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Segment] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 27-01-2026 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[PaymentMode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_customers]    Script Date: 27-01-2026 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[phone] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[street] [varchar](100) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[zip_code] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_order_items]    Script Date: 27-01-2026 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_order_items](
	[order_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[list_price] [decimal](10, 2) NULL,
	[discount] [decimal](4, 2) NULL,
 CONSTRAINT [PK_order_items] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_orders]    Script Date: 27-01-2026 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[order_status] [tinyint] NOT NULL,
	[order_date] [date] NOT NULL,
	[required_date] [date] NOT NULL,
	[shipped_date] [date] NULL,
	[store_id] [int] NOT NULL,
	[staff_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_staffs]    Script Date: 27-01-2026 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_staffs](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](15) NULL,
	[active] [bit] NULL,
	[store_id] [int] NULL,
	[manager_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_stores]    Script Date: 27-01-2026 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_stores](
	[store_id] [int] IDENTITY(1,1) NOT NULL,
	[store_name] [varchar](100) NOT NULL,
	[phone] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[street] [varchar](100) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[zip_code] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t1]    Script Date: 27-01-2026 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t1](
	[xtype] [char](2) NOT NULL,
	[CountOfObjects] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Department]    Script Date: 27-01-2026 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Department](
	[ID] [int] NULL,
	[Name] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Department_backup]    Script Date: 27-01-2026 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Department_backup](
	[ID] [int] NULL,
	[Name] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_employee]    Script Date: 27-01-2026 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_employee](
	[EmpID] [int] NOT NULL,
	[EmployeeName] [varchar](50) NULL,
	[City] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_employee_backup]    Script Date: 27-01-2026 21:52:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_employee_backup](
	[EmpID] [int] NOT NULL,
	[EmployeeName] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (101, N'Gopi Suresh', N'Coimbatore', N'Retail', 1, CAST(N'2025-11-12' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (102, N'Anita Ravi', N'Chennai', N'Corporate', 1, CAST(N'2025-10-05' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (103, N'Karthik Mohan', N'Bengaluru', N'Retail', 1, CAST(N'2025-09-15' AS Date))
GO
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5001, 101, CAST(N'2026-01-10' AS Date), CAST(1200.00 AS Decimal(10, 2)), N'Delivered', N'UPI')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5002, 101, CAST(N'2026-01-15' AS Date), CAST(850.00 AS Decimal(10, 2)), N'Pending', N'Card')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5003, 102, CAST(N'2026-01-05' AS Date), CAST(5000.00 AS Decimal(10, 2)), N'Delivered', N'Card')
GO
SET IDENTITY_INSERT [dbo].[sales_customers] ON 

INSERT [dbo].[sales_customers] ([customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (1, N'Thiluck', N'Vardhan', N'9999999991', N'thiluck@gmail.com', N'KPHB', N'Hyderabad', N'TS', N'500072')
INSERT [dbo].[sales_customers] ([customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (2, N'Divyansh', N'Raj', N'9999999992', N'divyansh@gmail.com', N'Boring Road', N'Patna', N'BR', N'800001')
INSERT [dbo].[sales_customers] ([customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (3, N'Rahul', N'Mehta', N'9999999993', N'rahul@gmail.com', N'Gachibowli', N'Hyderabad', N'TS', N'500032')
SET IDENTITY_INSERT [dbo].[sales_customers] OFF
GO
INSERT [dbo].[sales_order_items] ([order_id], [item_id], [product_id], [quantity], [list_price], [discount]) VALUES (1, 1, 201, 2, CAST(50000.00 AS Decimal(10, 2)), CAST(0.10 AS Decimal(4, 2)))
INSERT [dbo].[sales_order_items] ([order_id], [item_id], [product_id], [quantity], [list_price], [discount]) VALUES (1, 2, 202, 1, CAST(15000.00 AS Decimal(10, 2)), CAST(0.05 AS Decimal(4, 2)))
INSERT [dbo].[sales_order_items] ([order_id], [item_id], [product_id], [quantity], [list_price], [discount]) VALUES (2, 1, 203, 3, CAST(1000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(4, 2)))
GO
SET IDENTITY_INSERT [dbo].[sales_orders] ON 

INSERT [dbo].[sales_orders] ([order_id], [customer_id], [order_status], [order_date], [required_date], [shipped_date], [store_id], [staff_id]) VALUES (1, 1, 1, CAST(N'2026-01-10' AS Date), CAST(N'2026-01-15' AS Date), CAST(N'2026-01-12' AS Date), 1, 1)
INSERT [dbo].[sales_orders] ([order_id], [customer_id], [order_status], [order_date], [required_date], [shipped_date], [store_id], [staff_id]) VALUES (2, 2, 2, CAST(N'2026-01-11' AS Date), CAST(N'2026-01-16' AS Date), CAST(N'2026-01-13' AS Date), 2, 2)
INSERT [dbo].[sales_orders] ([order_id], [customer_id], [order_status], [order_date], [required_date], [shipped_date], [store_id], [staff_id]) VALUES (3, 3, 1, CAST(N'2026-01-12' AS Date), CAST(N'2026-01-17' AS Date), NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[sales_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[sales_staffs] ON 

INSERT [dbo].[sales_staffs] ([staff_id], [first_name], [last_name], [email], [phone], [active], [store_id], [manager_id]) VALUES (1, N'Ravi', N'Kumar', N'ravi@gmail.com', N'9000000001', 1, 1, NULL)
INSERT [dbo].[sales_staffs] ([staff_id], [first_name], [last_name], [email], [phone], [active], [store_id], [manager_id]) VALUES (2, N'Amit', N'Verma', N'amit@gmail.com', N'9000000003', 1, 2, NULL)
INSERT [dbo].[sales_staffs] ([staff_id], [first_name], [last_name], [email], [phone], [active], [store_id], [manager_id]) VALUES (3, N'Sita', N'Sharma', N'sita@gmail.com', N'9000000002', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[sales_staffs] OFF
GO
SET IDENTITY_INSERT [dbo].[sales_stores] ON 

INSERT [dbo].[sales_stores] ([store_id], [store_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (1, N'Hyderabad Store', N'9876543210', N'hydstore@gmail.com', N'Ameerpet Road', N'Hyderabad', N'TS', N'500016')
INSERT [dbo].[sales_stores] ([store_id], [store_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (2, N'Patna Store', N'9123456780', N'patnastore@gmail.com', N'Boring Road', N'Patna', N'BR', N'800001')
SET IDENTITY_INSERT [dbo].[sales_stores] OFF
GO
INSERT [dbo].[t1] ([xtype], [CountOfObjects]) VALUES (N'U ', 13)
GO
INSERT [dbo].[tbl_Department] ([ID], [Name]) VALUES (1, N'Dept1')
INSERT [dbo].[tbl_Department] ([ID], [Name]) VALUES (2, N'Dept2')
INSERT [dbo].[tbl_Department] ([ID], [Name]) VALUES (3, N'Dept3')
GO
INSERT [dbo].[tbl_Department_backup] ([ID], [Name]) VALUES (1, N'Dept1')
INSERT [dbo].[tbl_Department_backup] ([ID], [Name]) VALUES (2, N'Dept2')
INSERT [dbo].[tbl_Department_backup] ([ID], [Name]) VALUES (3, N'Dept3')
GO
INSERT [dbo].[tbl_employee] ([EmpID], [EmployeeName], [City]) VALUES (1, N'Pratham', N'Noida')
INSERT [dbo].[tbl_employee] ([EmpID], [EmployeeName], [City]) VALUES (2, N'Thiluck', N'Hyderabad')
INSERT [dbo].[tbl_employee] ([EmpID], [EmployeeName], [City]) VALUES (3, N'Annu', N'Gurgaon')
GO
INSERT [dbo].[tbl_employee_backup] ([EmpID], [EmployeeName]) VALUES (1, N'Pratham')
INSERT [dbo].[tbl_employee_backup] ([EmpID], [EmployeeName]) VALUES (2, N'Thiluck')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sales_cu__AB6E616471DDEBAE]    Script Date: 27-01-2026 21:52:46 ******/
ALTER TABLE [dbo].[sales_customers] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sales_st__AB6E616405A0F66D]    Script Date: 27-01-2026 21:52:46 ******/
ALTER TABLE [dbo].[sales_staffs] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sales_st__AB6E61643B68016C]    Script Date: 27-01-2026 21:52:46 ******/
ALTER TABLE [dbo].[sales_stores] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[sales_order_items]  WITH CHECK ADD  CONSTRAINT [FK_items_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[sales_orders] ([order_id])
GO
ALTER TABLE [dbo].[sales_order_items] CHECK CONSTRAINT [FK_items_order]
GO
ALTER TABLE [dbo].[sales_orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[sales_customers] ([customer_id])
GO
ALTER TABLE [dbo].[sales_orders] CHECK CONSTRAINT [FK_orders_customer]
GO
ALTER TABLE [dbo].[sales_orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[sales_staffs] ([staff_id])
GO
ALTER TABLE [dbo].[sales_orders] CHECK CONSTRAINT [FK_orders_staff]
GO
ALTER TABLE [dbo].[sales_orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_store] FOREIGN KEY([store_id])
REFERENCES [dbo].[sales_stores] ([store_id])
GO
ALTER TABLE [dbo].[sales_orders] CHECK CONSTRAINT [FK_orders_store]
GO
ALTER TABLE [dbo].[sales_staffs]  WITH CHECK ADD  CONSTRAINT [FK_staff_manager] FOREIGN KEY([manager_id])
REFERENCES [dbo].[sales_staffs] ([staff_id])
GO
ALTER TABLE [dbo].[sales_staffs] CHECK CONSTRAINT [FK_staff_manager]
GO
ALTER TABLE [dbo].[sales_staffs]  WITH CHECK ADD  CONSTRAINT [FK_staff_store] FOREIGN KEY([store_id])
REFERENCES [dbo].[sales_stores] ([store_id])
GO
ALTER TABLE [dbo].[sales_staffs] CHECK CONSTRAINT [FK_staff_store]
GO
/****** Object:  StoredProcedure [dbo].[MyPractice]    Script Date: 27-01-2026 21:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[MyPractice]

@City varchar(49)
as
Begin
SELECT * FROM [dbo].[Customers] where City = @City

End

GO
/****** Object:  StoredProcedure [dbo].[Sp_CrudOperations]    Script Date: 27-01-2026 21:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_CrudOperations]
AS
BEGIN
    -- READ
    SELECT *
    FROM tbl_Department;

    -- INSERT
    INSERT INTO tbl_Department (ID, Name)
    VALUES 
        (6, 'Dept6'),
        (7, 'Dept7');

    -- UPDATE
    UPDATE tbl_Department
    SET 
        ID = 5,
        Name = 'Heavy Department'
    WHERE ID = 55;

    -- DELETE
    DELETE FROM tbl_Department
    WHERE ID = 4;
END;
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetCustomerByNameAndCity]    Script Date: 27-01-2026 21:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Sp_GetCustomerByNameAndCity]
	-- Add the parameters for the stored procedure here
	@Name varchar(100),
	@City varchar(50)
as
begin
	select * from Customers where FullName = @Name and City = @City
end
GO
USE [master]
GO
